.rocket {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;

    .launchYear,
    .successFulLaunch,
    .successfulLanding {
        display: flex;
        align-items: center;
    }

    .rocketImg {
        width: 100%;
    }

}

@media screen and (min-width: 1024px) {

    .rockets {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .rocket {
        width: 100%;
        max-width: 225px;
    }
}